{% extends 'tesfa/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  {% if post %}
    <h1>{{ post.title }}</h1>
    {% if post.category %}
      <span>category:</span> {% for category in post.category.all %}
      <p class="post-meta">{{category}}</p>
      {% endfor %}
    {% else %}
      <h2>category unknown</h2>
    {% endif %}
    <div class="post-content">
      <pre>{{ post.content }}</pre>
    </div>
  {% else %}
    <p>no content yet!</p>
  {% endif %}
{% endblock %}
